@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
@import "./utils/vars";
@import "./components/main-page/main-page-components.scss";
@import "./components/portfolio/portfolio-components.scss";
@import "./components/shared/shared-components.scss";

body {
  color: var(--primary-color);
  font-family: var(--main-font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//

//

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    fill: var(--active-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  & .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #fff;
  }
}

.mobile-menu {
  list-style: none;

  &__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175; /*47px*/
    letter-spacing: 0.02em;
    color: var(--primary-color);

    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--primary-color);

    &:hover,
    &:focus,
    &:active {
      color: var(--active-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.mobile-contact {
  list-style: none;

  &__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18; /*40px*/
    letter-spacing: 0.02em;
    color: var(--active-color);
    margin-bottom: 32px;
  }

  &__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17; /*28px*/
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    margin-bottom: 64px;
  }
}

.mobile-social {
  list-style: none;
  display: flex;
  justify-content: space-between;

  &__element {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22; /*22px*/
    letter-spacing: 0.02em;
    padding-right: 10px;

    &:not(:first-child) {
      padding-left: 10px;
    }

    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  &__link {
    text-decoration: none;
    color: var(--active-color);
  }
}
