.our-assets {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.asset {
  list-style: none;
  flex: 1;
  flex-basis: calc((100% - 0px) / 1);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }

  &__icon-wrapper {
    background-color: var(--grey-backgroud-color);
    border-radius: 4px;
    max-height: 120px;
    padding: 25px 100px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      max-width: 270px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14; /*16px*/
    letter-spacing: 0.03em;
    margin-top: 30px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 1.71; /*24px*/
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-top: 10px;
    text-align: left;
  }
}
