.our-assets {
  display: flex;
  // flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;

  // @include tablet {
  //   flex-direction: row;
  //   flex-wrap: nowrap;
  // }
  // @include desktop {
  //   flex-direction: row;
  //   flex-wrap: nowrap;
  // }
}

.asset {
  list-style: none;
  display: block;

  &__icon-wrapper {
    background-color: var(--grey-backgroud-color);
    border-radius: 4px;
    width: 100%;
    height: auto;
    padding: 25px 190px;

    @include desktop {
      width: 270px;
      height: 120px;
      padding: 25px 100px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14; /*16px*/
    letter-spacing: 0.03em;
    margin-top: 30px;
    text-align: center;

    @include tablet {
      text-align: left;
    }

    @include desktop {
      text-align: left;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 1.71; /*24px*/
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-top: 10px;
  }
}
