.mobile-social {
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 320px) and (max-width: 403px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 404px) {
    flex-wrap: nowrap;
  }

  &__element {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22; /*22px*/
    letter-spacing: 0.02em;

    &:not(:first-child) {
      padding-left: 10px;
    }

    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  }

  //   @media screen and (min-width: 320px) and (max-width: 403px) {
  //   }
  // }

  &__link {
    text-decoration: none;
    color: var(--active-color);
  }
}
