:root {
  --main-font-family: "Roboto", sans-serif;
  --primary-color: #212121;
  --secondary-color: #757575;
  --dark-background-color: #2f303a;
  --grey-backgroud-color: #f5f4fa;
  --active-color: #2196f3;
  --icons-color: #afb1b8;
}
