.section {
  padding: 60px 15px;

  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  // justify-content: center - affected badly mobile version of header
}
